body {
    font-family: Arial;
    margin: 0;
    background-color: lightgray;
}

header {
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: black;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: lightgreen;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
